*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(55deg,#228a7b, #5fd2c2);
    height: 100vh;
}
.container{
    position: absolute;
    width: 95%;
    height: 90vh;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0, .2);
    display: grid;
    grid-template-columns: 45% 50%;
    justify-content: center;
    align-content: center;
}
.image img{
    background: url('../images/sign_in.jpg');
    width:100%;
    height: 85vh;
}
input{
    width: 100%;

}
button{
    margin-top: 5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    color: white;
    background-color:#228a7b;
    padding: 5px 2px;
    border-radius: 10px;
}
 h3{
    overflow:hidden;
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    margin-top: 35px;
    margin-bottom: 50px;
}
 h3:before,h3:after{
    background-color:black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width:40%;
}
h3:before{
    right: 0.5em;
    margin-left:-40%;
}
h3:after{
    left: 0.5em;
    margin-right: -40%;
}
.social_media{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}
.s_image img{
    width: 50px;
    height: 50px;
    margin-right:20px;
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#google img{
    height: 72px;
    width: 72px;
}
a{
    text-decoration: none;
}